<!-- views/search-by-type.handlebars -->


<head>
  <title>Search Pokemon by Type</title>
</head>


  <h1>Search Pokemon by Type</h1>
  <form id='submit' method="get" action="/search-by-type">
    <label for="type">Select a Type:</label>
    <select id="type" name="type">
      {{#each allPokemonType}}
      <option value="{{this.id}}">{{this.type_name}}</option>
{{/each}}

    </select>
    <button type="submit">Search</button>
  </form>

  {{#if typeResults}}
  <h2>Pokemon with Type: {{selectedType}}</h2>
  <ul>
    {{#each typeResults}}
    <li>{{this.name}} - {{this.type}}</li>
    {{/each}}
  </ul>
  {{/if}}

  {{#each pokemons}}
  <h3>{{this.id}}: {{this.pokemon_name}}</h3>
  <img src="{{this.img_url}}" style="width: 200px; height: 200px;" />
  <section>
    <h4>Pokemon Type</h4>
    <div class="container">
    {{#each this.pokemonType}}
    <div class="container-type">
    {{this.type_name}}
    <img src="{{this.img_url}}" style="width: 100px; height: 100px;" />
    </div>
    {{/each}}
    </div>
  </section>
  <section>
    <h4>Strong Against:</h4>
    <div class="container">
    {{#each this.strongType}}
    <div class="container-type">
    {{this.type_name}}
    <img src="{{this.img_url}}" style="width: 100px; height: 100px;" />
    </div>
    {{/each}}
    </div>
  </section>
  <section>
    <h4>Weak Against:</h4>
    <div class="container">
    {{#each this.weakType}}
    <div class="container-type">
    {{this.type_name}}
    <img src="{{this.img_url}}" style="width: 100px; height: 100px;" />
    </div>
    {{/each}}
    </div>
  </section>
  {{/each}}

<script>
  const handleFormSubmit = async (event) => {
    event.preventDefault();
  const typeValue = document.getElementById('type').value;
  console.log(typeValue);
  const host = window.location.host
const protocol = window.location.protocol;
console.log(protocol);
  location.replace(`${protocol}//${host}/type/${typeValue}`)
  }
  document.getElementById('submit').addEventListener('submit', handleFormSubmit );
</script>
